.button {
  display: inline-block;

  font-size: var(--fs-button);
  font-weight: 500;
  font-family: inherit;

  background: none;
  border: 0;
  box-shadow: none;
  text-decoration: none;

  cursor: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.178 15.822a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z' fill='%23fff' fill-opacity='.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2 16c0 7.07 5.73 12.8 12.8 12.8S28.8 23.07 28.8 16 23.07 3.2 16 3.2 3.2 8.93 3.2 16ZM16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0Z' fill='%23fff'/%3E%3C/svg%3E") 16 16, pointer;
}

.primary {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  padding: 0 3rem;

  font-size: var(--fs-button);
  font-family: var(--ff-base);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--color-white);
  background: rgba(#fff, .1);

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    stroke-dasharray: 160;
    stroke-dashoffset: 160;
    paint-order: stroke;

    animation: stroke linear 5s infinite;

    transition: stroke-dasharray linear 0.25s;
  }

  &:focus-visible svg {
    stroke-dasharray: 1200;
  }

  &:hover svg {
    stroke-dasharray: 1200;
  }
}

.secondary {
  height: 3rem;
  padding: 0 2rem;

  font-size: var(--fs-button-sm);
  font-family: var(--ff-base);
  font-weight: 900;
  line-height: 3rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--color-white);
  background: rgba(#fff, .1);

  border: 2px solid var(--color-white);

  &:focus {
    color: var(--color-black);
    background: rgba(#fff, .5);
  }

  &:hover {
    color: var(--color-black);
    background: rgba(#fff, 1);
  }

  &:active {
    color: var(--color-black);
    background: rgba(#fff, .9);
  }

  &:disabled {
    color: rgba(#fff, .5);
    background: rgba(#fff, .1);
  }
}

.ghost {
  padding: 0.25rem;

  color: inherit;
  font-size: var(--fs-button);
  font-family: var(--ff-base);
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: 2px solid transparent;

  &:focus-visible {
    border-bottom-color: var(--color-white);
  }

  &:hover {
    border-bottom-color: var(--color-white);
  }

  &:active {
    border-bottom-color: var(--color-white);
  }
}

.block {
  width: 100%;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 160;
  }

  50% {
    stroke-dashoffset: 280;
  }

  to {
    stroke-dashoffset: 160;
  }
}

@media (max-width: 600px) {
  .button {
      zoom: 0.8;
  }
}
