.navmodal {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 4rem;
  padding-bottom: var(--gap-32);
}

.navigation {
  flex: 1 0 auto;
}

.actions {
  flex: 0 0 auto;

  display: grid;
  grid-auto-flow: row;
  align-items: center;
  grid-gap: 1rem;
}

.socials {
  flex: 0 0 auto;

  margin-top: var(--gap-24);

  font-size: var(--gap-40);
}
