.container {
  height: 100%;
  display: grid;

  padding: var(--app-padding);
  align-items: center;
}

.content {
  grid-column: 7 / 12;
  z-index: 1;
}

.caption {
  opacity: 0.8;
}

.background {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.actions {
  display: grid;
  grid-auto-flow: row;
  grid-gap: var(--gap-16);
}

.secondaryButton {
  justify-self: center;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap-16);
    align-items: center;
  }
}