.section {
  width: 100%;
  height: 100%;

  padding-top: var(--gap-56);
  padding-bottom: var(--gap-24);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin-top: var(--gap-24);
}

.image {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}

.background {
  composes: background from '../MainScreen/MainScreen.module.scss'
}

.backgroundImage {
  composes: backgroundImage from '../MainScreen/MainScreen.module.scss'
}

@media (min-width: 1024px) {
  .section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap-16);
    align-items: center;
  }

  .content {
    margin-top: 0;
    
    grid-column: 7 / 13;
    padding-left: var(--gap-40);
  }

  .gallery {
    grid-column: 2 / 7;
  }
}
