.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;

  overflow: hidden;
}

.main {
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  // background-image: radial-gradient(rgba(#FFF, 0.1) 1px, transparent 100%);
  background: radial-gradient(1.5px circle at center, rgba(255, 255, 255, 0.1) 100%, transparent 100%);
  background-size: 15px 15px;
  background-repeat: repeat;
}

.frame {
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  top: 0.5rem;
  left: 0.5rem;
  border: 3px solid rgba(#fff, 0.5)
}

@media(min-width: 600px) {
  .frame {
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    top: 0.75rem;
    left: 0.75rem;
  }

}
