.bottombar {
  position: fixed;
  height: auto;
  top: auto;
  bottom: 0;
  z-index: 100;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: space-between;

  grid-row: 3 / 4;

  padding-bottom: var(--gap-16);

  pointer-events: none;
}

.pagination {
  grid-column: 1 / 2;

  opacity: 0.5;
}

.scroll {
  grid-column: 3 / 4;
  justify-self: end;
  
  font-size: 1.5rem;

  opacity: 0.5;

  span {
    position: absolute;

    display: inline-block;
    transform: rotate(-90deg) translate(75%, -115%);

    font-size: var(--fs-text);
    font-weight: 900;
    text-transform: uppercase;
  }
}

.socials {
  pointer-events: all;
}

@media (min-width: 600px) {
  .bottombar {
    grid-template-columns: 1fr auto 1fr;
    padding-bottom: var(--gap-24)
  }

  .pagination {
    justify-self: start;
  }

  .scroll {
    grid-column: 2 / 3;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      position: static;
      transform: none;
    }
  }

  .socials {
    grid-column: 3 / 4;
    justify-self: end;

    font-size: 2rem;
  }
}
