@import "variables";

html {
  font-size: var(--fs-base);
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;

  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: var(--fs-text);
  line-height: var(--lh-text);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);

  color: var(--color-white);
  background: var(--color-black);

  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  -webkit-overflow-scrolling: auto;

  cursor: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.178 15.822a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z' fill='%23fff' fill-opacity='.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2 16c0 7.07 5.73 12.8 12.8 12.8S28.8 23.07 28.8 16 23.07 3.2 16 3.2 3.2 8.93 3.2 16ZM16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0Z' fill='%23fff'/%3E%3C/svg%3E") 16 16, auto;

  &--loading {
    overflow: hidden;
  }
}

*,
*:after,
*:before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.mt {
  &--none {
    margin-top: 0;
  }

  &--8 {
    margin-top: 0.5rem;
  }

  &--16 {
    margin-top: 1rem;
  }

  &--24 {
    margin-top: 1.5rem;
  }

  &--32 {
    margin-top: 2rem;
  }

  &--auto {
    margin-top: auto;
  }
}

.mb {
  &--none {
    margin-bottom: 0;
  }

  &--8 {
    margin-bottom: 0.5rem;
  }

  &--16 {
    margin-bottom: 1rem;
  }

  &--24 {
    margin-bottom: 1.5rem;
  }

  &--32 {
    margin-bottom: 2rem;
  }

  &--auto {
    margin-bottom: auto;
  }
}

.align {
  &--left {
    text-align: left;
    align-self: flex-start;
  }

  &--center {
    text-align: center;
    align-self: center;
  }

  &--right {
    text-align: right;
    align-self: flex-end;
  }
}

@keyframes glow {
  from {
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.7));
  }

  to {
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.7));
  }
}
